.page-enter-active, .page-leave-active {
    transition: opacity .5s;
}

.page-enter, .page-leave-to {
    opacity: 0;
}

.background {
    background-color: #192735;
}

.secondary-background {
    background: rgb(34,47,62);
    background: linear-gradient(90deg, rgba(34,47,62,1) 0%, rgba(66,73,95,1) 50%, rgba(34,47,62,1) 100%);
}

.straight-secondary {
    background-color: #10586C;
    color: #10586C;
}

.straight-secondary-border {
    border-color: #10586C;
}

.vld-overlay{
    opacity: 0.75;
    background-color: #10586C;
}